/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

*.gem
*.rbc
.config
.bundle
InstalledFiles
_site
coverage
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

*.so
*.o
*.a
mkmf.log

.byebug_history
.idea/
*.swp
*.swo
*~

.DS_Store
Gemfile.lock
